Job_data_cebu_duplicate.csv
Job_data_cebu_official.csv
Job_data_cebu_official.xlsx
Job_data_cebu_partial.csv
Job_data_cebu_rem_2.csv
Job_data_cebu_rem_official.csv
Job_data_cebu_test.csv
Job_data_cebu.csv
test 2.txt
Test.txt
Job_data_cebu_details_off.csv
Job_data_cebu_goods.csv
Job_data_cebu_part1.csv
Accounting/Fin_Cebu_off.csv
Accounting/Fin_cebu_part1.csv
OFFICIAL SCRAPED DATAS/Accounting/Fin_Cebu_off.csv
BPO_Job_data_cebu.csv
BPO_P5.csv
Tech_Sep_Job_data_cebu.csv
OFFICIAL SCRAPED DATAS/BPO/BPO_Job_data_cebu.csv
BPO_Job_data_cebu.csv
OFFICIAL SCRAPED DATAS/Tech/Modified_with_details/Aug_2ndWeek_Job_data_cebu.csv
OFFICIAL SCRAPED DATAS/Tech/Modified_with_details/Tech_Aug_Job_data_cebu.csv
BPO_Job_data_cebu.csv
